@use "../utilities" as *;
@use "../mixins" as *;

.contacts{
    @include media_slider-section;
    display: flex ;
    overflow: hidden;
    input{
        @include forms(100%, $white);
    }
    button{
        @include btn(170px, $orange, $white, 100px);
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        &:hover{
            @include btn-hover--ghost($white, $orange);
        }
    }
}