@use "../utilities" as *;
@use "../mixins" as *;

.contacts{
    @include media_slider-section;
    display: flex ;
    overflow: hidden;
    #error{
        position: absolute;
        bottom: 55px;
        z-index: 1;
        right: 20px;
        color: red;
        font-weight: 200;
    }
    .input-field{
        input{
            @include forms(100%, $white, $carbon-black);
        }
        width: 100%;
        .tick{
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: 1;
            right: 6px;
            top: 14px;
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
            display: none;
        }
        &.tick--active{
            .tick{
                display: block;
            }
        }
    }
    button{
        @include btn(170px, $orange, $white, 100px);
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        &:hover{
            @include btn-hover--ghost($white, $orange);
        }
    }
    @media (max-width: 768px){
        iframe{
            width: 100%;
            max-height: 450px;
        }
    }
}