@use "../utilities" as u;
@use "../mixins/mediaqueries" as *;

header{
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    transition: 0.3s;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page--logo{
            position: relative;
            z-index: 31;
        }
    }
    &.scrolled{
        background-color: u.$white;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);        
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        li{
            transition: 0.2s ease;
            &:hover{
                transform: scale(1.3);
            }
            &.active{
                transform: scale(1.3) translateY(-1px);
                a{
                    color: u.$crimson;
                }
            }
        }
    }
    .hamburger{
        display: none;
        cursor: pointer;
        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
            transition: all 300ms ease;
            background-color: u.$carbon-black;
        }
        .bar:last-child{
            margin-bottom: 0;
        }
    }
}
//media queries
@include media_typography;

// tablet design
@media (max-width: 768px){
    body{
        &.hamburger-active{
            overflow: hidden;
        }
    }
    header{
        .hamburger{
            display: block;
            position: relative;
            z-index: 31;
        }
        .hamburger.active{
            .bar:nth-child(2){
                opacity: 0;
            }
            .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
        }
        ul{
            position: fixed;
            z-index: 30;
            top: 0;
            left: -100%;
            transition: 300ms ease;
            width: 100%;
            height: 100vh;
            background-color: u.$white;
            overflow: scroll;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 50px 0;
        }
        ul.active{
            left: 0%;
        }
    }
}