@use "../utilities/color" as c;
@use "../mixins/" as *;

.services{
    padding: 140px 0;
    background-color: c.$light-gray;
    @include media_section;
    @include cards(370px, 25px, 50px);
    .cards__cta-link{
        display: inline-block;
        padding: 20px;
        border-radius: 5px;
        transition: 0.3s;
        img{
            width: auto;
            height: 40px;
        }
        &:hover{
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
            transform: translateY(-10px);
        }
    }
    @media (max-width: 768px){
        .cards__cta-link{
            border: 1px solid c.$crimson;
        }
    }
}


