@use "./mixins" as *;

//typography

@mixin media_typography{
    @media (max-width: 768px){
        .text--primary{
            @include text(35px, normal, 1px);
        }
        .text--secondary{
            @include text(25px, 0.93, 1px);                                         
        }
        .text--semi-secondary{
            @include text(22px, normal, 0.5px);                                         
        }
        .text--tertiary{
            @include text(20px, normal, 0.5px);
        }
        .text--quarternary{
            @include text(16px, 1.73, 0.5px);
        }
        .text--default{
            @include text(18px, normal, normal);
        }
    }
    @media (max-width: 576px){
        .text--primary{
            @include text(30px, normal, 1px);
        }
        .text--secondary{
            @include text(22px, 0.93, 1px);                                         
        }
        .text--semi-secondary{
            @include text(20px, normal, 0.5px);                                         
        }
        .text--tertiary{
            @include text(18px, normal, 0.5px);
        }
        .text--quarternary{
            @include text(16px, 1.73, 0.5px);
        }
        .text--default{
            @include text(18px, normal, normal);
        }
    }
}

//text--contents
@mixin media_text--content{
    @media (max-width: 768px){
        .text--content{
            padding: 80px 0 !important;
            width: 100% !important;
        }
        .main-img--left, .main-img--right{
            position: static !important;
            max-width: 100% !important;
        }
    }
    @media (max-width: 576px){
        .text--content{
            padding: 40px 0 !important;
        }
    }
}

//sections
@mixin section{
    @media(max-width: 768px){
        padding: 80px 0;
        h2{
            margin-bottom: 50px;
        }
    }
}