//reset css
@import "./reset/reset";

//globals
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

//sections
@import "./sections/header";
@import "./sections/home";
@import "./sections/abouts";
@import "./sections/timeline";
@import "./sections/services";
@import "./sections/jobs";
@import "./sections/contacts";


//slide-appear on scroll animation
.slide-in{
    &.left{
        transform: translateX(-50%);
    }
    &.right{
        transform: translateX(50%);
    }
    &.left, &.right{
        transition: opacity 0.25s ease-in, transform 0.4s ease-in;
        opacity: 0;
    }
    &.left.appear, &.right.appear{
        transform: translateX(0);
        opacity: 1;
    }
}

//parallex effect
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

//importing media queries
.p--relative{
    position: relative;
}

